# Binaries
/glimpse
*.exe

# Keys & Config
.env

# Slidev / Node
node_modules/
dist/
slides.md

# IDE & Temporary files
.idea/
go.import.xml
*.iml

# Local auto-version counter
.version/

.claude
CLAUDE.md
